BasedOnStyle: WebKit
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: false
BraceWrapping:   
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
IndentCaseLabels: true
IndentPPDirectives: None
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
SortIncludes: false
SpaceAfterTemplateKeyword: false
TabWidth: 4
UseTab: Never
